#me{
    float: left;
    padding: 2px;
}

img{
        height: 175px;
        width: 250px;
        padding: 5px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-color: #dddddd;
}
  
input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #4aaaa5;
}

@media screen and (max-width: 980px) {
                    body {
                      background-color: #333;
                    }
                  
                    .wrapper {
                      /* Box-model */
                      width: 100%;
                      padding: 20px;
                    }
                  
                    #main-content,
                    #sidebar {
                      width: 100%;
                    }
                  
                    #sidebar {
                      margin-top: 40px;
                    }
                  }

@media screen and (max-width: 768px) {
                    body {
                      background-color: #333;
                    }
                  
                    .wrapper {
                      /* Box-model */
                      width: 100%;
                      padding: 20px;
                    }
                  
                    #main-content,
                    #sidebar {
                      width: 100%;
                    }
                  
                    #sidebar {
                      margin-top: 40px;
                    }
                  }

@media screen and (max-width: 640px) {
                    body {
                      background-color: #333;
                    }
                  
                    .wrapper {
                      /* Box-model */
                      width: 100%;
                      padding: 20px;
                    }
                  
                    #main-content,
                    #sidebar {
                      width: 100%;
                    }
                  
                    #sidebar {
                      margin-top: 40px;
                    }
                  }